gssapi_mech.conf
idmapd.conf
id_resolver.conf
nfs4-modalias.conf
nfs-blkmap.service
nfs-idmap.service
nfs-lock.preconfig
nfs-lock.service
nfs-mountd.service
nfs-rquotad.service
nfs-secure-server.service
nfs-secure.service
nfs-server.postconfig
nfs-server.preconfig
nfs-server.service
nfs.sysconfig
nfs.target
nfs-utils-1.2.6.tar.bz2
nfsv4.schema
proc-fs-nfsd.mount
var-lib-nfs-rpc_pipefs.mount
